<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wu_xing_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wu_xing_name" class="form-control" name="row[wu_xing_name]" type="text" value="{$row.wu_xing_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fang_wei')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fang_wei" class="form-control" name="row[fang_wei]" type="text" value="{$row.fang_wei|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color" class="form-control" name="row[color]" type="text" value="{$row.color|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" class="form-control" name="row[num]" type="text" value="{$row.num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shi_pin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shi_pin" class="form-control" name="row[shi_pin]" type="text" value="{$row.shi_pin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ji_jie')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ji_jie" class="form-control" name="row[ji_jie]" type="text" value="{$row.ji_jie|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zhu_yi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zhu_yi" class="form-control" name="row[zhu_yi]" type="text" value="{$row.zhu_yi|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-time" class="form-control "  data-use-current="true" name="row[time]" type="text" value="{$row.time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kou_wei')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kou_wei" class="form-control" name="row[kou_wei]" type="text" value="{$row.kou_wei|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Worker')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-worker" class="form-control " rows="5" name="row[worker]" cols="50">{$row.worker|htmlentities}</textarea>
        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
